body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url('https://www.iphon.fr/app/uploads/2020/03/fond-ecran-ipad-pro-4-2020.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height: 100%;
  position: sticky;
  top: 0;
}
.indie {
  font-family: 'Indie Flower', cursive;
}
.text-blue {
  color: rgba(0, 200, 255, 1);
}
img {
  height: 125px;
  border-radius: 5px;
  box-shadow: 0 3px 5px rgb(73, 73, 73) !important;
}
nav {
  position: sticky;
  top: 0;
  z-index: 500;
}
small {
  font-size: 0.8rem;
}
main {
  height: 87%;
}
footer {
  height: 13%;
}
.alert.alert-danger {
  background: linear-gradient(
    to bottom,
    rgba(150, 0, 0, 1) 0%,
    rgba(175, 0, 0, 1) 60%,
    rgba(200, 0, 0, 1) 100%
  );
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 1);
  font-size: 1.2rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  margin-top: 10px;
  font-family: 'Indie Flower', cursive;
}
.alert.alert-success {
  background: linear-gradient(
    to bottom,
    rgba(0, 150, 0, 1) 0%,
    rgba(0, 175, 0, 1) 60%,
    rgba(0, 200, 0, 1) 100%
  );
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 1);
  font-size: 1.2rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  margin-top: 10px;
  font-family: 'Indie Flower', cursive;
}
.btn {
  font-family: 'Indie Flower', cursive;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 1);
}
.btn-blue {
  background: linear-gradient(
    rgba(31, 172, 222, 1) 0%,
    rgba(31, 172, 222, 0.8) 70%,
    rgba(31, 172, 222, 0.7) 100%
  );
  color: white;
  font-size: 1.1rem;
  box-shadow: 0 3px 5px rgba(255, 255, 255, 0.4) !important;
}
.btn-danger {
  background: linear-gradient(
    rgba(255, 20, 50, 1) 0%,
    rgba(255, 30, 50, 0.8) 70%,
    rgba(255, 30, 50, 0.7) 100%
  );
  color: white;
  font-size: 1.1rem;
  box-shadow: 0 3px 5px rgba(255, 255, 255, 0.4) !important;
}
.btn-success {
  background: linear-gradient(
    rgba(20, 230, 50, 1) 0%,
    rgba(20, 230, 50, 0.8) 70%,
    rgba(20, 230, 50, 0.7) 100%
  );
  color: white;
  font-size: 1.1rem;
  box-shadow: 0 3px 5px rgba(255, 255, 255, 0.4) !important;
}
.btn-primary {
  background: linear-gradient(
    rgb(255, 191, 0),
    rgb(181, 137, 0),
    rgb(181, 137, 0)
  );
  box-shadow: 0 3px 5px rgba(255, 255, 255, 0.4) !important;
}
.title {
  background: linear-gradient(
      rgba(105, 0, 150, 0.58) 100%,
      rgba(105, 0, 175, 0.3) 70%,
      rgba(105, 0, 200, 0.2) 0%
    ),
    url('https://www.iphon.fr/app/uploads/2020/03/fond-ecran-ipad-pro-4-2020.jpg');
  border: 0.8px solid rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 1.5rem;
  text-shadow: 0 1.5px 1.5px rgba(0, 0, 0, 0.7);
  font-family: 'Indie Flower', cursive;
}
.blog {
  text-shadow: 0 2px 5px rgba(255, 255, 255, 0.7);
}
.violet {
  background: linear-gradient(
    to top,
    rgba(160, 65, 201, 0.8) 100%,
    rgb(119, 38, 173) 70%,
    rgba(128, 41, 204, 0.4) 0%
  );
  text-shadow: 0 1.5px 1.5px rgba(0, 0, 0, 0.7);
  color: white;
}
.violet:hover {
  color: rgba(255, 255, 255, 0.7);
}

.shadow-5 {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}
.shadow-light-10 {
  box-shadow: 0 3px 5px rgba(255, 255, 255, 1) !important;
}
.border-violet {
  padding: 30px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(105, 0, 150, 0.8);
  border-radius: 15px;
}
.title-article {
  color: rgba(105, 0, 150, 0.8);
  font-size: 1.2rem;
  text-shadow: 0 1px 1.5px rgba(0, 0, 0, 0.7);
}
.rounded-10 {
  border-radius: 0px 50px 50px 0px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
}
hr {
  box-shadow: 0 3px 5px rgba(255, 255, 255, 1) !important;
}
